.home {

}

/*
 Heading section
 */
.heading {
  width: 100%;
  padding: 30px 0;
  background-color: $color-primary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  .header {
    margin-bottom: 45px;
    .brand {
      float: left;
      font-size: 1.25em;
      font-weight: 700;
      color: $color-secondary;
      box-shadow: none;
      text-shadow: 2px 2px 0px rgba(0,0,0,.2);
    }
    .brand:hover {
      background-color: transparent;
      text-shadow: 2px 2px 0px rgba(0,0,0,.4);
    }
    @media (min-width: 768px) {
      .brand {
        font-size: 1.5em;
        letter-spacing: 5px;
      }
    }
    .link-contact {
      float: right;
      padding: 4px 8px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 25px;
      box-shadow: none;
    }
    .link-contact:hover {
      color: #333;
      border: 2px solid $color-secondary;
    }
  }
  .welcome {
    .title {
      color: #fff;
      font-size: 2.5em;
      font-weight: 800;
      letter-spacing: 1px;
      margin-bottom: 60px;
      // text-shadow: 5px 5px 0 rgba(0,0,0,.2);
    }
    @media (min-width: 768px) {
      .title {
        font-size: 5em;
      }
    }
    .lead {

    }
    a {
      color: #fff;
    }
    a:hover {
      color: #333;
    }
  }
}
@media (min-width: 768px) {
  .heading {
    padding: 60px 0;
  }
}

/*
 Highlights section
 */
.highlights {
  width: 100%;
  margin-bottom: 550px;
  padding: 60px 0;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  .section-title {
    margin-bottom: 60px;
    color: #666;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .single {
    float: left;
    margin-bottom: 60px;
    box-shadow: none;
    img {
      margin-bottom: 15px;
      border: 1px solid rgba(0,0,0,0.05);
    }
    h3 {
      margin-top: 15px;
      font-weight: 700;
    }
  }
  .single:hover {
    box-shadow: none;
    background-color: transparent;
    img {

    }
    h3 {
      color: $color-primary;
    }
  }
}
@media (min-width: 768px) {
  .highlights {
    margin-bottom: 600px;
  }
}

/*
 Get in touch section
 */
.get-in-touch {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
  z-index: -1;
  .section-title {
    margin-bottom: 60px;
    color: #666;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 60px;
  }
  @media (min-width: 992px) {
    .title {
      font-size: 4em;
    }
  }
  .lead {
    margin-bottom: 60px;
  }
  .bottom-line {
    padding-top: 60px;
    margin-top: 60px;
    border-top: 1px solid #e5e5e5;
  }
}
