$color-primary: #64b5f6;
$color-secondary: #ffe0b2;

body {
  background-color: #fff;
  color: #666;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

a {
  color: #666;
  box-shadow: 0 3px 0 $color-secondary;
  transition: .25s;
}

a:hover {
  color: #666;
  text-decoration: none;
  box-shadow: 0 3px 0 $color-secondary;
  background-color: $color-secondary;
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 100%;
}

h1,
h2 {
  letter-spacing: -2px;
}

h3,
h4 {
  letter-spacing: 0px;
}

p {

}

.img-responsive {
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
