$color-primary: #4f3a4b;
$color-secondary: #fedccc;

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #666;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #666;
  box-shadow: 0 3px 0 $color-secondary;
  transition: .1s;
}

a:hover {
  color: #666;
  text-decoration: none;
  box-shadow: 0 3px 0 $color-secondary;
  background-color: $color-secondary;
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: -apple-system, 'Segoe UI', sans-serif;
}

h1,
h2 {
  letter-spacing: -1px;
}

h3,
h4 {
  letter-spacing: 0px;
}

p {

}

.img-responsive {
  border-radius: 4px;
}

.label {
  padding: 4px 8px;
  border-radius: 25px;
}

.label-success {
  background-color: #00b28b;
}

.label-info {
  background-color: #bfb5d7;
}

.label-danger {
  background-color: #ea4c89;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
